@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.section__artist-container{
    background: black;
    margin-top: 3.5rem;
    margin-left: 3.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
}
.div__artist-container{
    width: 70%;
}
.div__artist__container-item{
    background: black;
    background: rgba(0, 0, 0, 0.95);
    margin: 2rem;
    border-top-left-radius: 2rem;
    -moz-border-radius-topleft: 2rem;
    border-bottom-right-radius: 2rem;
    -moz-border-radius-bottomright: 2rem;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #c503f1, 0 0 1rem blue, 0 0 0.2rem #0cd9a7;
}
@media (max-width: 600px) {
    .section__artist-container{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        height: 70%;
        flex-direction: unset;
    }
    .div__artist-container::-webkit-scrollbar{
        display: none;
    }
    .div__artist-container{
        display: flex;
        overflow-x: auto;
        justify-content: stretch;
        align-items: center;
        width: 100%;
    }
    .div__artist__container-item {
        margin: 0.5rem 3rem 0.5rem 0.5rem;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 80%; /* width/height  - initial value: auto */
    }
    .ul__artist {
        margin-top: 1rem;
    }
    .span__headline {
        margin-top: 1rem;
    }
}

.div__artist-item__header{
    display: inline-block;
    width: 100%;
}
.li__artist-name{
    float: left;
    color: white;
}
.ul__artist{
    /*margin-top: 1.5rem;*/
    text-decoration: none;
    color: white;
}
.li__artist{
    list-style-type: none;
    float: left;
    margin-left: 1rem;
    color: white;
}
.li__artist:before{
    content: ' *  ';
}
.li__artist-green:before{
    color: greenyellow;
}
.li__artist-purple:before{
    color: #8503ff;
}
.li__artist-blue:before{
    color: #1146f3;
}
.span__headline{
    /*margin-top: 1.5rem;*/
    margin-left: 0.2rem;
    color: white;
    float: left;
}
.li__artist-instruments:hover{
    transform: scale(1.05);
    transition: transform linear 500ms;
}
.div__container-item__body{
    width: 100%;
    display: inline-block;
}
.a__link__no-style{
    text-decoration: none;
    color: white;
}
.img__artist{
    float: right;
    height: 6rem;
    width: 8rem;
    border-top-left-radius: 2rem;
    -moz-border-radius-topleft: 2rem;
    border-bottom-right-radius: 2rem;
    -moz-border-radius-bottomright: 2rem;
}
.span__artist-tour{
    display: inline-block;
    margin-top: 0.5rem;
    color: white;
}
.span__artist-tour-number{
    display: inline-block;
    color: white;
    margin-left: 0.7rem;
}

