@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.section__login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
    height: 100%;
    background: url("../images/background.jpg") no-repeat center;
    background-size: cover;
    color: white;
    text-align: center;
}

.div__login{
    display: flex;
    justify-content: stretch;
    align-items: center;
    background: transparent;
    border: 0.1rem solid rgba(255,255,255,0.5);
    border-radius: 2rem;
    backdrop-filter: blur(0.1rem);
    padding: 2rem;
}

.form__login{
    position: relative;
    color: white;
    padding: 1rem;
    text-align: center;
}
.login__title{
    font-size: 2rem;
    color: white;
    text-align: center;
    filter: drop-shadow(0.1rem 0.1rem 0.3rem #e00b55);
}
input{
    position: relative;
    margin: 1.25rem 0;
    width: 10rem;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 0.05rem solid #fff;
    color: white;
    letter-spacing: 0.15rem;
}

.register__link{
    text-decoration: none;
    color: white;
    letter-spacing: 0.2rem;
    transition: color 1s linear, font-size 1s linear;
}
.register__link:hover{
    color: purple;
    font-size: 1.1em;
}
.span__no-account{
    display: inline-block;
    margin: 1rem 0.7rem 0.7rem;
}

@media (max-width: 600px) {
    .section__login{
        padding-left: 1.5rem;
    }
    .div__login {
        padding: 0;
    }
    .form__login{
        padding: 0;
    }
}
button.social-signin {
  margin-bottom: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}
.loginwith{
    font-size: 1.3rem;
    font-style: italic;
}
button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}
