.div__main-content{
    background: rgba(0,0,0, 0.95);
    color: white;
}
.div__container-header{
    height: 2rem;
    padding: 1rem 5rem 1rem 1rem;
}
.div__container-header__name{
    float: left;
    color: white;
    text-align: justify;
    font-family: Verdana;
    text-shadow:0 0 15px blue;
}
.div__container-header__name:hover{
    animation: glowh1 1.5s linear;
    -webkit-animation: glowh1 1.5s linear;
}
@keyframes glowh1 {
  0%{text-shadow: 0 0 0.7rem #e8549c;}
  50%{text-shadow: 0 0 1rem #f1107d;}
  100%{text-shadow: 0 0 0.7rem #e8549c;}
}

@-webkit-keyframes glowh1 {
  0%{text-shadow: 0 0 0.7rem #e8549c;}
  50%{text-shadow: 0 0 1rem #f1107d;}
  100%{text-shadow: 0 0 0.7rem #e8549c;}
}

.div__container-header__info{
    float: right;
    text-align: justify;
    font-family: Verdana;
}
.div__container-header__link:hover{
     animation: glowh1 1.5s linear;
    -webkit-animation: glowh1 1.5s linear;
}
.div__container-header__link{
    text-decoration: none;
    color: white;
}
.div__container-header__link:hover{
    cursor: pointer;
}
.div__container-body{
    /*flex: 1;*/
    display: flex;
    overflow-x: auto;
}
.div__container-body::-webkit-scrollbar{
    display: none;
}
.div__track-item{
    width: 9.5rem;
    min-height: min-content;
    background: rgba(49, 48, 48, 0.2);
    border-radius: 0.3rem;
    padding: 1rem;
    transition: background-color 0.5s ease-out;
    margin: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem blueviolet, 0 0 1rem blue, 0 0 0.2rem blue;
}
.div__track-item:hover{
    background: rgba(49, 48, 48, 0.63);
}
.div__track-cover{
    display: block;
    position: relative;
    width: inherit;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.item-link{
    text-decoration: none;
    font-size: 0.85rem;
    font-family: Verdana;
    color: blue;
}
.div__track-cover-img{
    display: block;
    height: 9rem;
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.24rem;
    padding-bottom: 0.6rem;
}
.play__icon-hidden{
    position: absolute;
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 5rem;
    display:none;
    top: 6rem;
    left: 7rem;
    cursor: pointer;
    filter: drop-shadow(0px 0px 3px #a64fda);
}
.play__icon-hidden:hover{
    transition: transform 0.5s;
}
.div__track-cover:hover .play__icon-hidden{
    display: block;
}
.track-link{
    color: blue;
    letter-spacing: 0.05rem;
}
.img__track-icon{
    height: 2rem;
    width: 2rem;
}
.div__container-body__picture{
    height: 5rem;

}
.div__container-body__name{

}
input[name="name"]{
    margin: 1rem;
    width:15rem;
    height:3rem;
    border-radius: 1rem;
    background: transparent;
}

.glightbox_video {
     height: 2rem;
    width: 2rem;
  transform: translate(-50%, -50%);
}

.outer_circle {
    stroke-width: 3;
    stroke-dasharray: 410;
    stroke-dashoffset: 0;
    stroke-linecap: square;
    transition: all .4s ease-out;
}

.glightbox_video:hover .outer_circle {
    stroke-dashoffset: 410;
    transition: stroke .7s .4s ease-out, stroke-dashoffset .4s ease-out;
}
.play{
    fill: #6a00ff;
}
.glightbox_video:hover .inner-circle {
    fill: #6a00ff;
    border-color: #6a00ff;
    transition:fill .4s .3s ease-out;

}
.glightbox_video:hover .play{
    fill: white !important;
    transition:fill .4s .3s ease-out;
}
.form__search-bar{
    background: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
}
.form__search-bar .input__search{
    margin: 0!important;
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 0.2rem;
    font-size: 1.2rem;
    color: #cac7ff;
    letter-spacing: 0.05rem !important;
}
::placeholder{
    color: #cac7ff;
}
.form__search-bar button img{
    width: 1.5rem;
}
.form__search-bar button {
    border: 0;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background: #58629b;
    cursor: pointer;
}
.button__display-none {
    background: transparent;
    border: none;
    color: white;
    padding-bottom: 1rem;
    padding-right: 1rem;
    font-size: 0.9rem;
}
@media (max-width: 600px) {
    .form__search-bar .input__search{
        width: 5rem;
    }
}
audio::-webkit-media-controls-panel{
    background: rgb(31, 31, 31);
    width: 100%;
}
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button{
    color:white;
}
audio{
    width: 100%;
}
.div__search-result__container {
    position: relative;
    z-index: 3;
        height: 4rem;
    background: black;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    color: #cac7ff;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem blueviolet, 0 0 1rem blue, 0 0 0.2rem blue;
}
.img__search-result{
    height: 4rem;
    width: 4rem;
    float: left;
}
.span__search-result__title{
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
}
.span__search-additional__info{
    margin-left: 1.2rem;
    font-size: 0.7rem;
    color: wheat;
}
.div__search-container {
    position: relative;
    z-index: 1;
}
