{% extends 'streaming/base.html' %}
{% load static %}

{% block content %}
{#      {% for error in error_messages %}#}
{#            <p style="color:white;font-size:26px;font-weight:bold;text-shadow:2px 2px 2px rgb(252, 3, 3);">{{error}}</p>#}
{#      {% endfor %}#}
<section class="section__register">
    <div class="div__register">
        <div>
    <form action="" method="post" enctype="multipart/form-data" class="form__register">
        <h2 class="register__title">Register</h2>
        {% csrf_token %}

        {{ aform.as_p }}
        <input type="hidden" name="{{aform.prefix}}" value="Submit" />

        <div>
            <div id="register_2" class="form__additional">
                {{ bform.as_p }}
                <div class="button_align-center">
                 <input type="submit" name="{{bform.prefix}}" value="Submit" class="submit__form" />
                </div>
            </div>
        </div>

        <div id="register_3" class="form__additional form__additional-absolute">
            {{ cform.as_p }}
            <div class="button_align-center">
                <input type="submit" name="{{cform.prefix}}" value="Submit" class="submit__form" />
            </div>
        </div>
    </form>
        </div>
    </div>
</section>
{% endblock %}
