.div__main-content{
    background: rgba(0,0,0, 0.95);
    color: white;
}
.div__container-header{
    height: 2rem;
    padding: 1rem 5rem 1rem 1rem;
}
.div__container-header__name{
    float: left;
    color: white;
    text-align: justify;
    font-family: Verdana;
    text-shadow:0 0 15px blue;
}
.div__container-header__name:hover{
    animation: glowh1 1.5s linear;
    -webkit-animation: glowh1 1.5s linear;
}
@keyframes glowh1 {
  0%{text-shadow: 0 0 0.7rem #e8549c;}
  50%{text-shadow: 0 0 1rem #f1107d;}
  100%{text-shadow: 0 0 0.7rem #e8549c;}
}

@-webkit-keyframes glowh1 {
  0%{text-shadow: 0 0 0.7rem #e8549c;}
  50%{text-shadow: 0 0 1rem #f1107d;}
  100%{text-shadow: 0 0 0.7rem #e8549c;}
}

.div__container-header__info{
    float: right;
    text-align: justify;
    font-family: Verdana;
}
.div__container-header__link:hover{
     animation: glowh1 1.5s linear;
    -webkit-animation: glowh1 1.5s linear;
}
.div__container-header__link{
    text-decoration: none;
    color: white;
}
.div__container-header__link:hover{
    cursor: pointer;
}
.div__container-body{
    display: flex;
    flex-wrap: wrap;
    margin: 0 2rem;
    height: 15rem;
    overflow: hidden;
}
.div__track-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 9.5rem;
    height: 12rem;
    background: rgba(49, 48, 48, 0.2);
    border-radius: 0.3rem;
    padding: 1rem;
    transition: background-color 0.5s ease-out;
    margin: 0.7rem;
    box-shadow: 0.1rem 0.1rem 0.1rem blueviolet, 0 0 1rem blue, 0 0 0.2rem blue;
}
.div__track-item:hover{
    background: rgba(49, 48, 48, 0.63);
}
.div__track-cover{
    display: block;
    position: relative;
    width: inherit;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid red;
}
.item-link{
    text-decoration: none;
    font-size: 0.85rem;
    font-family: Verdana;
    color: blue;
}
.div__track-cover-img{
    display: block;
    height: 9rem;
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.24rem;
    padding-bottom: 0.6rem;
}
.play__icon-hidden{
    position: absolute;
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 5rem;
    display:none;
    top: 6rem;
    left: 7rem;
    cursor: pointer;
    filter: drop-shadow(0px 0px 3px #fa007a);
}
.play__icon-hidden:hover{
    transform: scale(1.03);
    transition: transform 0.5s;
}
.div__track-cover:hover .play__icon-hidden{
    display: block;

}
.track-link{
    color: blue;
    letter-spacing: 0.05rem;
}
.img__track-icon{
    height: 2rem;
    width: 2rem;
}
.div__container-body__picture{
    height: 5rem;

}
.div__container-body__name{

}
input[name="name"]{
    margin: 1rem;
    width:15rem;
    height:3rem;
    border-radius: 1rem;
    background: transparent;
}