<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Streaming</title>
    <link type="text/css" href="css/styles.css" rel="stylesheet"/>
    <link type="text/css" href="css/artists.css" rel="stylesheet"/>
    <link type="text/css" href="css/base_styles.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width">
</head>
<body>
<nav class="navbar">
    <a href="index.html"> <img src="images/icon.png" class="navbar__icon"></a>
    <ul class="navbar__list">
        <li class="navbar__list-item">
            <a href="playlists.html" class="navbar__list-item-link">Playlists</a>
         </li>
        <li class="navbar__list-item">
            <a href="artists.html" class="navbar__list-item-link">Artists</a>
         </li>
        <li class="navbar__list-item">
            <a href="albums.html" class="navbar__list-item-link">Albums</a>
         </li>
        <li class="navbar__list-item">
            <a href="tracks.html" class="navbar__list-item-link">Tracks</a>
         </li>

<!--        {% for item in menu %}-->
<!--        <li class="navbar__list-item">-->
<!--            <a href="#" class="navbar__list-item-link">{{item.title}}</a>-->
<!--        </li>-->
<!--            <br>-->
<!--        {% endfor %}-->
    </ul>
    <hr class="navbar-line">
     <span onclick="openNav()"><img src="images/login.png" class="js-login__img"></span>
</nav>
        <menu class="menu-additional">
        <ul class="menu-additional__list" id="menu__additional">

        </ul>
    </menu>
<aside id="sidenav" class="sidenav">
  <a href="javascript:void(0)" class="sidenav-button__close" onclick="closeNav()">&times;</a>
<!--    {%  if request.user.is_authenticated %}-->
<!--      <a href="{% url 'update_user' user.id %}" class="sidenav-link">{{user.login}}</a>-->
<!--            {% if user.role.id == 3 %}-->
<!--                <a href="{% url 'change_subscription' auth_user %}" class="sidenav-link">Subscription</a>-->
<!--        {% endif %}-->
<!--        <a href="{% url 'create_playlist' %}" class="sidenav-link">Create playlist</a>-->
<!--     {% if user.role.id == 2 %}-->
<!--                <a href="{% url 'add_instrument' user.id %}" class="sidenav-link">Add instrument</a>-->
<!--                <a href="{% url 'create_track' %}" class="sidenav-link">Add track</a>-->
<!--                <a href="{% url 'add_genre' user.id %}" class="sidenav-link">Add genre</a>-->
<!--                <a href="{% url 'add_label' user.id %}" class="sidenav-link">Add label</a>-->
<!--        {% endif %}-->
<!--{#  <a href="{% url 'logout' %}" class="sidenav-link">Logout</a>#}-->
<!--{#    {% else %}#}-->
<!--{#  <a href="{% url 'login' %}" class="sidenav-link">Login</a>#}-->
<!--{#  <a href="{% url 'register' %}" class="sidenav-link">Register</a>#}-->
<!--    {% endif %}-->
  <a href="#" class="sidenav-link">Contact</a>
</aside>

     <section class="section__artist-container">
         <ul class="div__artist-container">
         <div class="div__artist__container-item">
             <div class="div__artist-item__header">
                 <li><h1 class="li_artist-name"><a href="index.html" class="a__link__no-style">Niall Horan</a></h1></li>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_IFPY4Z6_kYm-IInmNQkVxiBPuhngC5OlbfFujj41VA&s"class="img__artist"/>
                <span class="span__artist-tour">Tour dates: </span><span class="span__artist-tour-number">  4</span>
             </div>
             <div class="div__container-item__body">
                 <span class="span__headline">Instruments:</span>
                        <ul class="ul__artist">
                    <li class="li__artist li__artist-green">Vocals</li>
                     <li class="li__artist li__artist-green">Guitar</li>
                </ul>
             </div>
             <div class="div__container-item__body">
                 <span class="span__headline">Genres:</span>
                        <ul class="ul__artist">
                    <li class="li__artist li__artist-purple">Pop</li>
                     <li class="li__artist li__artist-purple">Soul</li>
                     <li class="li__artist li__artist-purple">Soft-rock</li>
                     <li class="li__artist li__artist-purple">Folk-pop</li>
                </ul>
             </div>
            <div class="div__container-item__body">
                 <span class="span__headline">Labels:</span>
                        <ul class="ul__artist">
                            <li class="li__artist li__artist-blue"><a href="#" class="a__link__no-style">Syco</a></li>
                     <li class="li__artist li__artist-blue"><a href="#" class="a__link__no-style">Columbia</a></li>
                </ul>
             </div>
        </div>
                <div class="div__artist__container-item">
             <div class="div__artist-item__header">
                 <ul><h1 class="li_artist-name"><a href="#" class="a__link__no-style">Niall Horan</a></h1></ul>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_IFPY4Z6_kYm-IInmNQkVxiBPuhngC5OlbfFujj41VA&s"class="img__artist"/>
                <span class="span__artist-tour">Tour dates: </span><span class="span__artist-tour-number">  4</span>
             </div>
             <div class="div__container-item__body">
                 <span class="span__headline">Instruments:</span>
                        <ul class="ul__artist">
                    <li class="li__artist li__artist-green">Vocals</li>
                     <li class="li__artist li__artist-green">Guitar</li>
                </ul>
             </div>
             <div class="div__container-item__body">
                 <span class="span__headline">Genres:</span>
                        <ul class="ul__artist">
                    <li class="li__artist li__artist-purple">Pop</li>
                     <li class="li__artist li__artist-purple">Soul</li>
                     <li class="li__artist li__artist-purple">Soft-rock</li>
                     <li class="li__artist li__artist-purple">Folk-pop</li>
                </ul>
             </div>
            <div class="div__container-item__body">
                 <span class="span__headline">Labels:</span>
                        <ul class="ul__artist">
                            <li class="li__artist li__artist-blue"><a href="#" class="a__link__no-style">Syco</a></li>
                     <li class="li__artist li__artist-blue"><a href="#" class="a__link__no-style">Columbia</a></li>
                </ul>
             </div>
        </div>
                <div class="div__artist__container-item">
             <div class="div__artist-item__header">
                 <li> <h1 class="li_artist-name"><a href="#" class="a__link__no-style">Niall Horan</a></h1></li>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_IFPY4Z6_kYm-IInmNQkVxiBPuhngC5OlbfFujj41VA&s"class="img__artist"/>
                 <span class="span__artist-tour">Tour dates: </span><span class="span__artist-tour-number">  4</span>
             </div>
             <div class="div__container-item__body">
                 <span class="span__headline">Instruments:</span>
                        <ul class="ul__artist">
                    <li class="li__artist li__artist-green">Vocals</li>
                     <li class="li__artist li__artist-green">Guitar</li>
                </ul>
             </div>
             <div class="div__container-item__body">
                 <span class="span__headline">Genres:</span>
                        <ul class="ul__artist">
                    <li class="li__artist li__artist-purple">Pop</li>
                     <li class="li__artist li__artist-purple">Soul</li>
                     <li class="li__artist li__artist-purple">Soft-rock</li>
                     <li class="li__artist li__artist-purple">Folk-pop</li>
                </ul>
             </div>
            <div class="div__container-item__body">
                 <span class="span__headline">Labels:</span>
                        <ul class="ul__artist">
                            <li class="li__artist li__artist-blue"><a href="#" class="a__link__no-style">Syco</a></li>
                     <li class="li__artist li__artist-blue"><a href="#" class="a__link__no-style">Columbia</a></li>
                </ul>
             </div>
        </div>
         </ul>

    </section>

<footer></footer>
   <script src="js/base_script.js" ></script>
   <script src="js/script.js" ></script>
   <script src="js/template_artist.js" ></script>
      <script type="module" src="js/auth.js"></script>
</body>
</html>
